.pt-c-track--duration {
    border-radius: 50%;
    width: 150px;
    height: 150px;

    &.success {
        background-color: var(--pf-global--success-color--100);
    }

    &.error {
        background-color: var(--pf-global--danger-color--100);
    }

    .pt-c-track--duration__text {
        text-align: center;
        padding: 60px 0px;
        font-size: 13pt;
    }

}