.pf-c-modal-box {
    height: 700px;
    width: 700px !important;
}

.pt-c-filters__date--radio {
    margin-bottom: 10px;
    .pf-c-radio {
        margin: 5px 0 5px 0;
    }
}

.pf-c-filters__date--tab {
    margin-top: 20px;
    display: block;
}

.pt-c-filters__date--quick {
    width: 100%;
}