.pf-c-modal-box {
    height: 700px;
    width: 700px !important;
}

.pt-c-filters__date--radio {
    margin-bottom: 10px;
    .pf-c-radio {
        margin: 5px 0 5px 0;
    }
}

.pf-c-filters__date--tab {
    margin-top: 20px;
    display: block;
}

.pt-c-filters__date--quick {
    width: 100%;
}

@media (min-width: 993px) {
    .pt-c-filters__date--modal {
        width: 800px !important;
    }
}

@media (max-width: 992px) {
    .pt-c-filters__date--modal {
        width: 450px !important;
    }
}